name: android_multicast_lock
description: Flutter plugin to manage multicast lock on Android
version: 1.0.0
homepage: https://github.com/mylisabox/multicast_lock

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: '>=2.0.0'

dependencies:
  flutter:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.mylisabox.multicastlock
        pluginClass: MulticastLockPlugin
